.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: var(--spacer-medium);
}

.account {
  background: #14141a;
  padding: var(--spacer-large);
  text-align: left;
  border-radius: 4px;
}

.total {
  color: var(--primary-300);
}

.value {
  font-size: 1.375rem;
}
